
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Dobrodelen.si</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="new-project.html"> Nov projekt</a>
                    </li>
                    <li>
                        <a href="all-projects.html">Vsi projekti</a>
                    </li>
                    <li>
                        <a href="all-news.html">Novice</a>
                    </li>
                    <li>
                        <a href="contact.html">O nas</a>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span>
                            Janko Banko<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="my-projects.html">Moji projekti</a>
                            </li>
                            <li>
                                <a href="my-donations.html">Moji prispevki</a>
                            </li>
                            <li>
                                <a href="settings.html">Nastavitve</a>
                            </li>
                            <li>
                                <a href="log-in.html">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Odjavi se</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">O nas

                </h1>

            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Map Column -->
            <div class="col-md-6">
                <!-- Embedded Google Map -->
                <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?hl=en&amp;ie=UTF8&amp;ll=45.9876492,14.649988&amp;spn=56.506174,79.013672&amp;t=m&amp;z=4&amp;output=embed"></iframe>
            </div>
            <!-- Contact Details Column -->
            <div class="col-md-6">
                <h3>Dobrodelen.si</h3>
                <p>
                    Ljubljana, Slovenija<br>
                </p>
                <p><i class="fa fa-phone"></i>
                    <abbr title="Phone">T</abbr>: 040 040 040</p>
                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">E</abbr>: <a href="mailto:name@example.com">vprasanja@dobrodelnost.si</a>
                </p>

            </div>
        </div>
        <!-- /.row -->



        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Dobrodelen.si 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

